script(src=jsPath + "header.js" defer)


if mainPage
  script(src="./plugins/jquery/jquery.min.js" defer)
  script(src="./plugins/slick-1.8.1/slick/slick.js" defer)
  script(src=jsPath + "main.js" defer)

if documents
  script(src=jsPath + "head-pics.js" defer)
  //- script(src=jsPath + "docs.js" defer)
if argue
  script(src=jsPath + "head-pics.js" defer)  
if clients
  script(src=jsPath + "head-pics.js" defer)
  script(src=jsPath + "tabs.js" defer)