meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(name='description', content=`${description ? description : 'Надійний постачальник природного газу для непобутових споживачів по всій Україні. Створюємо клієнтоорієнтований підхід для забезпечення максимально вигідних умов співпраці.'}`)

//- og
meta(property="og:title" content=`${title ? title : 'Газопостачальна компанія «Нафтогаз Трейдинг» | Офіційний сайт'}`)
meta(property="og:type" content="website")
meta(property="og:url" content=`${domain ? domain : ''}`)
meta(property='og:locale', content='ua_UA')
meta(property="og:site_name" content=`${title ? title : 'Газопостачальна компанія «Нафтогаз Трейдинг» | Офіційний сайт'}`)
meta(property="og:description" content=`${description ? description : 'Надійний постачальник природного газу для непобутових споживачів по всій Україні. Створюємо клієнтоорієнтований підхід для забезпечення максимально вигідних умов співпраці.'}`)
meta(property="og:image" content=`${ogImage ? ogImage : './../favicons_and_shorts/og_image.jpg'}`)

//- twitter
meta(name="twitter:card", content="summary_large_image")
meta(name="twitter:site" content="website")
meta(name="twitter:domain" content=`${twitterDomain ? twitterDomain : ''}`)
meta(name="twitter:title" content=`${title ? title : 'Газопостачальна компанія «Нафтогаз Трейдинг» | Офіційний сайт'}`)
meta(name="twitter:description" content=`${description ? description : 'Надійний постачальник природного газу для непобутових споживачів по всій Україні. Створюємо клієнтоорієнтований підхід для забезпечення максимально вигідних умов співпраці.'}`)
meta(name="twitter:image" content=`${ogImage ? ogImage : './../favicons_and_shorts/og_image.jpg'}`)

//- facebook
//- meta(property="fb:admins" content=`${facebookAdmins ? facebookAdmins : ''}`)
//- meta(property="fb:app_id" content=`${facebookAppId ? facebookAppId : ''}`)

//- Title
title #{title ? title : 'Газопостачальна компанія «Нафтогаз Трейдинг» | Офіційний сайт'}
